aiohttp==3.9.4
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.2.0
appnope==0.1.3
asgiref==3.7.2
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
blis==0.7.11
cachetools==5.3.2
catalogue==1.0.2
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.0
cryptography==42.0.4
cymem==2.0.8
debugpy==1.8.0
decorator==5.1.1
distro==1.9.0
Django==4.2.11
django-formset-js==0.5.0
django-jquery-js==3.1.1
docx2txt==0.8
en-core-web-sm==2.3.1
exceptiongroup==1.2.0
executing==2.0.1
frozenlist==1.4.1
google-api-core==2.15.0
google-api-python-client==2.114.0
google-auth==2.23.4
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.1.0
googleapis-common-protos==1.62.0
gspread==5.12.0
h11==0.14.0
httpcore==1.0.2
httplib2==0.22.0
httpx==0.26.0
idna==3.7
importlib-metadata==7.0.1
ipykernel==6.28.0
ipython==8.18.1
jedi==0.19.1
joblib==1.3.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.5.1
matplotlib-inline==0.1.6
multidict==6.0.4
murmurhash==1.0.10
nest-asyncio==1.5.8
nltk==3.8.1
numpy==1.26.4
oauthlib==3.2.2
openai==0.28.0
packaging==23.2
pandas==2.2.0
parso==0.8.3
pdfminer.six==20221105
pdfplumber==0.10.4
pexpect==4.9.0
phonenumbers==8.13.30
Pillow==10.3.0
plac==1.1.3
platformdirs==4.1.0
preshed==3.0.9
prompt-toolkit==3.0.43
protobuf==4.25.2
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.20.0
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.17.2
pyparsing==3.1.1
PyPDF2==3.0.1
pypdfium2==4.27.0
pypng==0.20220715.0
pyresparser==1.0.6
pyrsistent==0.20.0
python-dateutil==2.8.2
python-decouple==3.8
pytz==2024.1
pyzmq==25.1.2
qrcode==7.4.2
referencing==0.33.0
regex==2023.12.25
requests==2.32.2
requests-oauthlib==1.3.1
resume-parser==0.8.4
rpds-py==0.18.0
rsa==4.9
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
spacy==2.3.5
sqlparse==0.5.0
srsly==1.0.7
stack-data==0.6.3
stemming==1.0.1
stripe==8.2.0
thinc==7.4.6
tika==2.6.0
tornado==6.4.1
tqdm==4.66.3
traitlets==5.14.0
typing_extensions==4.8.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.2
wasabi==0.10.1
wcwidth==0.2.12
whitenoise==6.6.0
yarl==1.9.4
zipp==3.17.0
