<script>
    window.addEventListener('load', function() {
        let workForm = document.querySelector("#work_form");
        let addButton = document.querySelector("#add-work-form");
        
        addButton.addEventListener('click', addForm);

        function addForm(e) {
            e.preventDefault();

            console.log("Button clicked!");

            let newForm = workForm.children[0].cloneNode(true);
            let formNum = workForm.children.length - 1;
            console.log(`formNum: ${formNum}`);

            newForm.innerHTML = newForm.innerHTML.replace(/work_experiences-(\d+)-/g, `work_experiences-${formNum}-`);
            workForm.appendChild(newForm);

            let totalFormsField = document.querySelector("input[name='work_experiences-TOTAL_FORMS']");

            let deleteButton = document.querySelector("#delete-work-form-0");
            let newDeleteButton = deleteButton.cloneNode(true);
            newDeleteButton.id = `delete-work-form-${formNum}`;
            newForm.appendChild(newDeleteButton);
            

            newDeleteButton.addEventListener('click', function() {
                deleteForm(newForm, formNum);
            });
            
            formNum++;
            totalFormsField.value = formNum;
            console.log(`Form added. Total forms: ${totalFormsField.value}`);
        }

        function deleteForm(form, formNum) {
            let totalFormsField = document.querySelector("input[name='work_experiences-TOTAL_FORMS']");
            console.log(`before deleting, totalFormsField value is: ${totalFormsField.value}`);

            if (totalFormsField.value == 1) {
                // If deleting the first form, just hide the work_form and set hasWorkExperience to 'no'
                console.log("there is only 1 form so the radio button should become closed");
                workForm.style.display = 'none';
                yesRadio.checked = false;
                document.getElementById('noRadio').checked = true;
            } 
            else if (totalFormsField.value == 2){
                console.log("inside special case for debugging");
                form.remove();
                let deleteButton = document.querySelector("#delete-work-form-0");
                deleteButton.remove();

                let elements = workForm.children[0].querySelectorAll("[name*='-']");
                let elements_ids = workForm.children[0].querySelectorAll("[id*='-']");
                elements.forEach(element => {
                    element.name = element.name.replace(new RegExp(`work_experiences-${1}-`, 'g'), `work_experiences-${0}-`);
                });
                elements_ids.forEach(element_id => {
                    element_id.id = element_id.id.replace(new RegExp(`id_work_experiences-${1}-`, 'g'), `id_work_experiences-${0}-`);
                });
                let remainingDeleteButton = document.querySelector("#delete-work-form-1");
                remainingDeleteButton.id = "delete-work-form-0";
                totalFormsField.value--;
                
            }
            else {
                // If deleting other forms, remove the form as usual
                form.remove();

                let totalFormsField = document.querySelector("input[name='work_experiences-TOTAL_FORMS']");
                console.log("work form number " + formNum + " is being deleted");

                if (formNum < workForm.children.length) {
                    console.log("formNum < workForm.children.length");
                    for (let i = formNum ; i < workForm.children.length; i++) {
                        let elements = workForm.children[i].querySelectorAll("[name*='-']");
                        let elements_ids = workForm.children[i].querySelectorAll("[id*='-']");
                        elements.forEach(element => {
                            element.name = element.name.replace(new RegExp(`work_experiences-${i}-`, 'g'), `work_experiences-${i - 1}-`);
                        });
                        elements_ids.forEach(element_id => {
                            element_id.id = element_id.id.replace(new RegExp(`id_work_experiences-${i}-`, 'g'), `id_work_experiences-${i - 1}-`);
                        });
                        let deleteButton = document.querySelector(`#delete-work-form-${i}`);
                        deleteButton.id = `delete-work-form-${i - 1}`;
                    }
                }
                totalFormsField.value--;
            }
        }


        let deleteButtons = document.querySelectorAll("[id^='delete-work-form-']");
        deleteButtons.forEach(button => {
            button.addEventListener('click', function() {
                let formNum = parseInt(button.id.split('-').pop());
                console.log("work form number " + formNum + " is being deleted");
                deleteForm(workForm.children[formNum], formNum);
            });
        });
    });
</script>