{% extends 'index.html' %}
{% load static %}


{% block header_links %}
        <a href="{% url 'home' %}"> Home </a>
        <a href="{% url 'home' %}#work-experience">About us</a>


{% endblock %}


{% block header_links_nav %}
        <a href="{% url 'home' %}"> Home </a>
        <a href="{% url 'home' %}#work-experience">About us</a>


{% endblock %}


{% block content %}

<style>
    body {
        background-color: #1a1a1a;
        color: #ffffff;
        font-family: 'Arial', sans-serif;
        
    }
    
    form {
        max-width: 400px;
        margin: 50px auto;
        background-color: #333;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        color: #ffffff;
        width: 100%;
        box-sizing: border-box;
    }

    label {
        display: block;
        padding: 10px;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border: 1px solid #555;
        border-radius: 4px;
        background-color: #2a2a2a;
        color: #ffffff;
    }

    button,
    #back-form-label {
        display: inline-block;
        color: #000000;
        background-color: #e6c10b;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.2em;
        text-align: center;
        width: 100%;
        margin-top: 15px;
    }

    button:hover,
    #back-form-label:hover {
        background-color: #d4a373;
    }

    p {
        color: #b0b0b0;
        margin-top: 10px;
        line-height: 1.6;
    }

    .dynamic-message {
        font-style: italic;
        color: #ffd60a;
    }

    .hidden {
        display: none;
    }

    #back-label {
        display: none;
        color: #ffd60a;
        cursor: pointer;
        font-weight: bold;
    }

    #back-label:hover {
        color: #d4a373;
    }

    #initial-options, #login-form {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    input[type="radio"] {
        display: none;
    }

    label[for="create_account_option"],
    label[for="log_in_option"],
    label[for="back-label"] {
        display: inline-block;
        cursor: pointer;
        border: 1px solid #555;
        border-radius: 4px;
        background-color: #ffd60a;
        color: #1a1a1a;
        width: 200px;
        text-align: center;
        margin-top: 15px;
    }

    label[for="create_account_option"]:hover,
    label[for="log_in_option"]:hover,
    label[for="back-label"]:hover {
        background-color: #e6c10b;
    }

    input[type="radio"]:checked + label {
        background-color: #555;
    }

    .error-message {
        color: white;
        background-color: #ff3333;
        border: 1px solid #cc0000;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
    }

    .success-message, .alert alert-success {
        color: white;
        background-color: #4caf50;
        border: 1px solid #388e3c;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
    }

    #loadingModal {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #333;
        color: #ffd60a;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        text-align: center;
        z-index: 1000;
    }

    #loadingOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        z-index: 999;
        display: none;
    }

    #forgot_password {
        color: #ffd60a;
        font-size: 1em;
        display: block;
        margin-top: 15px;
        text-align: center;
        text-decoration: underline;
    }

    #forgot_password:hover {
        color: #d4a373;
        text-decoration: none;
        font-weight: bold;
    }

    /* Media queries for smaller screens */
    @media (max-width: 800px) {

        label[for="create_account_option"],
    label[for="log_in_option"],
    label[for="back-label"] {
        display: inline-block;
        margin-left: -7px;
    }



        form {
            width: 200%;
            margin-left: -80px;
        }

        button, #back-form-label {
            width: 100%;
        }

        label[for="create_account_option"],
        label[for="log_in_option"] {
            width: 100%;
        }

        #forgot_password {
            font-size: 0.9em;
            text-align: center;
        }

        #back-label {
            font-size: 1em;
            margin-top: 10px;
        }

        #loadingModal {
            padding: 20px;
            font-size: 1.2em;
        }

        #loadingText {
            font-size: 1.5em;
        }

        /* Adjust input fields and button on small screens */
        input[type="text"],
        input[type="password"],
        input[type="email"] {
            font-size: 1em;
            padding: 12px;
        }
    }
  
    /* Change the color of alert-danger to green */
.alert.alert-success {
    background-color: #4caf50;  /* Green background */
    color: #ffffff;  /* White text */
    border: 1px solid #388e3c;  /* Green border */
}

/* Change the color of alert-success to red */
.alert.alert-danger {
    background-color: #ff3333;  /* Red background */
    color: #ffffff;  /* White text */
    border: 1px solid #cc0000;  /* Red border */
}


</style>


    

<section id="login-page" style="margin-top: 60px; padding: 100px; border-radius: 12px; align-items: center;">

<!-- Add this in the head section of your HTML file -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<div id="initial-options">
    <input type="radio" name="action" value="create_account" id="create_account_option" required onclick="showForm('create_account')">
    <label for="create_account_option">Create an account</label>

    <input type="radio" name="action" value="log_in" id="log_in_option" required  onclick="showForm('log_in')">
    <label for="log_in_option">Log in</label>

    <label for="back-label" id="back-label" onclick="goBack()">Back</label>
</div>

<form method="post" id="login-form" class="hidden">
    {% csrf_token %}

    <!-- Include a hidden input for the selected action -->
    <input type="hidden" name="action" id="selected_action" value="">

    <div id="form-text"></div>

    <h1 id="loginHeading" style="display: none;">Log In</h1>
    <h1 id="createAccountHeading" style="display: none;">Create Account</h1>

    {{ login_form.as_p }}

    <span id="nameValidation" style="display: none;"></span>
    <script>
        $(document).ready(function () {
            // Add an event listener to the name input field
            $('#id_name').on('input', function () {
                var name = $(this).val().toLowerCase(); // Convert to lowercase
    
                // Send an AJAX request to check if the name is taken
                if ($('#selected_action').val() === 'create_account') {
                    $.ajax({
                        url: '/login/CheckAccountNameView/',  // Ensure this URL is correct
                        type: 'GET',
                        data: { 'name': name },
                        success: function (data) {
                            // Remove existing validation message
                            $('#nameValidation').remove();
    
                            // Append the validation message based on the availability
                            if (data.is_taken) {
                                // Display a red alert bubble if the name is taken
                                $('#id_name').after('<div id="nameValidation" class="alert alert-danger" role="alert">PLEASE TRY ANOTHER NAME</div>');
                            } else {
                                // Display a green alert bubble if the name is available
                                $('#id_name').after('<div id="nameValidation" class="alert alert-success" role="alert">NAME available</div>');
                            }
                        }
                    });
                }
            });
        });
    </script>
    


    <!-- Include jQuery if not already included -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <span id="emailValidation" style="display: none;"></span>
    <script>
        $(document).ready(function () {
            // Add an event listener to the email input field
            $('#id_email').on('input', function () {
                var email = $(this).val();
    
                // Send an AJAX request to check if the email is taken
                if ($('#selected_action').val() === 'create_account') {
                    $.ajax({
                        url: '/login/CheckAccountEmailView/',  // Fix the URL here
                        type: 'GET',
                        data: { 'email': email },
                        success: function (data) {
                            // Remove existing validation message and icon
                            $('#emailValidation').remove();
        
                            // Append the validation message and icon based on the availability
                            if (data.is_taken) {
                                // Display a red cross if the email is taken
                                $('#id_email').after('<div id="emailValidation" class="alert alert-danger" role="alert"> PLEASE TRY ANOTHER EMAIL</div>');
                            } else {
                                // Display a green tick if the email is available
                                $('#id_email').after('<div id="emailValidation" class="alert alert-success" role="alert">EMAIL available</div>');
                            }
                        }
                    });
                }
            });
        });
    </script>


    <button type="submit" onclick="showLoadingModal()">Submit</button>


    <button id="back-form-label" onclick="goBack()">Back</button>


    <div id="loadingModal">
        <p id="loadingText"><b>Loading...</b></p>
    </div>
    
    <div id="loadingOverlay"></div>


    <a id="forgot_password" href="{% url 'forgot_password'%}" "display: none; color:#2980b9;">Forgot Password</a>

</form>


<script>
    function showForm(formType) {
        document.getElementById("initial-options").style.display = "none";
        document.getElementById("login-form").style.display = "block";
        document.getElementById("back-label").style.display = "block";

        // Set the selected action in the hidden input
        document.getElementById("selected_action").value = formType;

        if (formType === 'log_in') {
            // Unhide login heading
            document.getElementById('loginHeading').style.display = 'block';
            document.getElementById('createAccountHeading').style.display = "none";
            document.getElementById('forgot_password').style.display = 'block';
            document.getElementById('nameValidation').style.display = "none";
            document.getElementById('emailValidation').style.display = "none";


        } else if (formType === 'create_account') {
            // Unhide create account heading
            document.getElementById('createAccountHeading').style.display = 'block';
            document.getElementById('loginHeading').style.display = "none";
            document.getElementById('nameValidation').style.display = 'block';
            document.getElementById('emailValidation').style.display = 'block';
            document.getElementById('forgot_password').style.display = "none";

        }
    }

    function goBack() {
        document.getElementById("initial-options").style.display = "block";
        document.getElementById("login-form").style.display = "none";
        document.getElementById("back-label").style.display = "none";

        document.getElementById("createAccountHeading").style.display = "none";
        document.getElementById("loginHeading").style.display = "none";

        document.getElementById('nameValidation').style.display = 'none';
        document.getElementById('emailValidation').style.display = 'none';

    }

    function showLoadingModal() {
    // Check if all required fields are filled
    var allFieldsFilled = true;
    $('#login-form input[required]').each(function() {
        if ($(this).val() === '') {
            allFieldsFilled = false;
            return false; // Exit the loop early if any required field is empty
        }
    });

    if (allFieldsFilled) {
        if (document.getElementById("selected_action").value == 'create_account') {
            // Show the loading modal and overlay
            document.getElementById("loadingModal").style.display = "block";
            document.getElementById("loadingOverlay").style.display = "block";

            // Array of loading messages
            var loadingMessages = [
                "Please wait...",
                "A confirmation email is being sent...",
            ];

            // Function to display loading messages in a loop
            function displayLoadingMessages(index) {
                // Set the loading text
                document.getElementById("loadingText").innerHTML = "<b>" + loadingMessages[index] + "</b>";

                // Increment index or reset to 0 if at the end
                index = (index + 1) % loadingMessages.length;

                // Set a timeout for the next message
                setTimeout(function () {
                    displayLoadingMessages(index);
                }, 3000); // Adjust the time delay between messages (in milliseconds)
            }

            // Start the loop
            displayLoadingMessages(0);
        }
    } else {
        // If not all fields are filled, display an error message or take appropriate action
        alert("Please fill in all required fields.");
    }
}


</script>

{% if messages %}
  <ul>
    {% for message in messages %}
      {% if message.tags == 'error' %}
        <li class="error-message">{{ message }}</li>
      {% elif message.tags == 'success' %}
        <li class="success-message">{{ message }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endif %}

</section>


<div class="interviews-by" style="margin-bottom: 100px;">
    <!-- <img src="{% static 'img/interviews-by.jpeg' %}" alt="interviews-by.jpeg" style="width: 100%; height: auto;"> -->
    <img src="{% static 'img/D861DC30-268C-46DC-8AB5-24805709194F.png' %}" alt="interviews-by.png" style="width: 100%; height: auto;">
</div>



{% endblock %}
