<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to CheeseCV</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 20px auto;">
        <h2>{{ account.name }}, Welcome To CheeseCV !</h2>
        <p>
            We're thrilled to have you as a part of CheeseCV. Your account has been successfully created.
        </p>
        <p>
            Here are your account details:
            <ul>
                <li><strong>Name:</strong> {{ account.name }}</li>
                <li><strong>Email:</strong> {{ account.email }}</li>
            </ul>
        </p>
        <p>
            With CheeseCV, you have access to the following services:
            <ul>
                <li>Fill in a form and we'll build you a resume and website in 30 seconds</li>
                <li>Generate a tailored resume for a specific job description in  30 seconds</li>
                <li>Create a customized cover letter for a job description in 30 seconds</li>
            </ul>
        </p>
        <p>
            Thank you for choosing CheeseCV. If you have any questions or need assistance, feel free to contact us.
        </p>
        <p>
            Best regards,<br>
            The CheeseCV Team
        </p>
    </div>
</body>
</html>
