{% extends 'index.html' %}
{% block content %}

<style>

    .error-message {
        color: white;
        background-color: #ff3333;  /* Red background color */
        border: 1px solid #cc0000;  /* Darker red border color */
        padding: 10px;  /* Adjust the padding as needed */
        border-radius: 5px;  /* Rounded corners */
        font-weight: bold;  /* Bold text */
        margin: 10px auto; /* Center the messages horizontally */

    }

    .success-message {
    color: white;
    background-color: green;  /* Green background color */
    border: 1px solid green;  /* Darker green border color */
    padding: 10px;  /* Adjust the padding as needed */
    border-radius: 5px;  /* Rounded corners */
    font-weight: bold;  /* Bold text */
    margin: 10px auto; /* Center the messages horizontally */

    }

</style>

<style>

    body {
        font-family: 'Arial', sans-serif;
        background-color: #f2f2f2; /* Light gray background */
        margin: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
        color: #333333; /* Dark gray text color */
    }

    form {
        max-width: 400px;
        margin: 300px auto; /* Adjusted margin for better spacing */
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin: 10px 0 5px;
        color: #333333;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #cccccc; /* Light gray border */
        border-radius: 4px;
        box-sizing: border-box;
    }

    button {
        background-color: #007bff; /* Blue button color */
        color: #ffffff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3; /* Darker blue on hover */
    }

</style>




<form method="post" action="{% url 'reset_password' account_id=account.id %}">
    {% csrf_token %}
    
    <h1>Reset Password for {{ account.name }}</h1>

    <label for="id_new_password">Verification code:</label>
    <input type="text" id="id_verification_code" name="verification_code" required>

    <label for="id_new_password">New Password:</label>
    <input type="password" id="id_new_password" name="new_password" required>
    
    <br>

    <label for="id_confirm_new_password">Confirm New Password:</label>
    <input type="password" id="id_confirm_new_password" name="confirm_new_password" required>

    <br>

    <button type="submit">Reset Password</button>

    {% if messages %}
    <ul>
        {% for message in messages %}
        {% if message.tags == 'error' %}
            <li class="error-message">{{ message }}</li>
        {% elif message.tags == 'success' %}
            <li class="success-message">{{ message }}</li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
</form>

{% endblock %}

