{% extends 'index.html' %}
{% block content %}
<br><br><br><br><br><br><br>

<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f4f4f4;
        color: #333;
        margin: 0;
        padding: 0;
    }

    form {
        max-width: 800px;
        margin: 0 auto;
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1, h3 {
        color: black;
        font-weight: bold;  /* Add bold font for consistency */
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
        font-weight: bold;  /* Add bold font for consistency */
    }

    /* th {
        background-color: #3498db;
        color: #fff;
    } */

    #work_form, #projects_form {
        margin-bottom: 20px;
    }

    button {
        background-color: #3498db;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px; /* Add margin to the top of the buttons */
        font-weight: bold;  /* Add bold font for consistency */
    }

    button:hover {
        background-color: #2a80b9;
    }

    #add-work-form, #add-project-form {
        display: block;
        margin-bottom: 10px;
        background-color: #2ecc71;
        padding: 10px; /* Add padding to the buttons for better visibility */
        font-weight: bold;  /* Add bold font for consistency */
    }

    #add-work-form:hover, #add-project-form:hover {
        background-color: #29b765;
    }

    input, textarea {
        width: 100%;
        padding: 10px; /* Adjust padding for better appearance */
        box-sizing: border-box;
        margin-bottom: 10px; /* Add margin to the bottom of the input fields */
    }

    .form-container input,
    .form-container select,
    .form-container textarea {
        width: 100%; /* Make the form fields take the full width of the column */
        box-sizing: border-box;
        margin-bottom: 10px;
        padding: 10px;
    }

    #work_experience_question, #project_experience_question {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    }

    #work_experience_options, #project_experience_options {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #work_experience_options, #project_experience_options label {
        margin: 0 10px;
        font-size: 16px;
    }

    #work_experience_options, #project_experience_options input {
        margin-right: 5px;
    }

</style>

<!-- Add this to the head section of your HTML file -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<form method="post" enctype="multipart/form-data" id="userProfileForm">

    <!-- personal form -->
    <div>

        <h1>Enter Data</h1>
        <br>

        <div id="dataForm" method="post">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
    

        <span id="urlNameValidation"></span>
        <script>
            $(document).ready(function () {
                // Add an event listener to the url_name input field
                console.log("JavaScript loaded!");
                $('#id_url_name').on('input', function () {
                    var urlName = $(this).val();
            
                    // Send an AJAX request to check if the url_name is taken
                    $.ajax({
                        url: '/website_form/check_url_name/',  // Fix the URL here
                        type: 'GET',
                        data: { 'url_name': urlName },
                        success: function (data) {
                            if (data.is_taken) {
                                // Display a message if the url_name is taken as a red alert bubble
                                $('#urlNameValidation').html('<div class="alert alert-danger" role="alert">URL TAKEN, PLEASE TRY ANOTHER URL</div>');
                            } else {
                                // Display a message if the url_name is available as a green alert bubble
                                $('#urlNameValidation').html('<div class="alert alert-success" role="alert">URL available</div>');
                            }
                        }
                    });
                });
            });
        </script>
        <br>  
    </div>
   
    <!-- work experince form -->
    <div>

        <script>
            function toggleWorkExperienceForm() {
                var workForm = document.getElementById('work_form');
                var yesRadio = document.getElementById('yesRadio');
                var addWorkFormButton = document.getElementById('add-work-form');
        
                workForm.style.display = yesRadio.checked ? 'block' : 'none';
                addWorkFormButton.style.display = yesRadio.checked ? 'block' : 'none';
            }
        </script>

        <h3>Work Experiences</h3>

        <script>
            window.addEventListener('load', function() {
                let workForm = document.querySelector("#work_form");
                let addButton = document.querySelector("#add-work-form");
                let totalformNumber = workForm.children.length;
                let totalformNumberAdder = totalformNumber;
                let totalformNumberAdderHelper = totalformNumber;
                let totalFormsField = document.querySelector("input[name='work_experiences-TOTAL_FORMS']");
                
                addButton.addEventListener('click', addForm);

                function addForm(e) {
                    e.preventDefault();

                    console.log("Add button clicked!");

                    let formNum = workForm.children.length; // Get the current number of forms

                    let newForm = `
                        <div id="work_experiences_container-${totalformNumberAdder}">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Company Name</th>
                                        <th>Job Title</th>
                                    </tr>
                                    <tr class="form-row">
                                        <td><input type="text" name="work_experiences-${totalformNumberAdder}-company_name"></td>
                                        <td><input type="text" name="work_experiences-${totalformNumberAdder}-job_title"></td>
                                    </tr>
                                    <tr class="form-row">
                                        <td>Start Date</td>
                                        <td>End Date</td>
                                    </tr>
                                    <tr class="form-row">
                                        <td><input type="text" name="work_experiences-${totalformNumberAdder}-start_date"></td>
                                        <td><input type="text" name="work_experiences-${totalformNumberAdder}-end_date"></td>
                                    </tr>
                                    <tr class="form-row">
                                        <td>City</td>
                                        <td>State</td>
                                    </tr>
                                    <tr class="form-row">
                                        <td><input type="text" name="work_experiences-${totalformNumberAdder}-city"></td>
                                        <td><input type="text" name="work_experiences-${totalformNumberAdder}-state"></td>
                                    </tr>
                                    <tr class="form-row">
                                        <td colspan="2">Description</td>
                                    </tr>
                                    <tr class="form-row">
                                        <td colspan="2"><textarea name="work_experiences-${totalformNumberAdder}-description"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>
                            <button id="delete-work-form-${totalformNumberAdder}" type="button"">Delete Work Experience</button>
                        </div>
                    `;

                    let container = document.createElement('div');
                    container.innerHTML = newForm;

                    workForm.appendChild(container);

                    // Add delete button for the newly added form
                    let deleteButton = document.querySelector(`#delete-work-form-${totalformNumberAdder}`);

                    deleteButton.addEventListener('click', function() {
                        deleteForm(container, formNum);
                    });
                    container.appendChild(deleteButton);

                    formNum++;
                    totalformNumber++;
                    totalformNumberAdder++;
                    totalFormsField.value = formNum;
                    totalformNumberAdderHelper = totalFormsField.value;
                    console.log(`formNum after add: ${formNum}`);
                    console.log(`Form added. Total forms: ${totalFormsField.value}`);
                }


                function deleteForm(form, formNum) {
                    let totalFormsField = document.querySelector("input[name='work_experiences-TOTAL_FORMS']");
                    console.log(`before deleting, totalFormsField value is: ${totalFormsField.value}`);
                    console.log(`this form is being deleted: ${formNum}`);
                    console.log(`workForm.children.length: ${workForm.children.length}`);

                    if (totalformNumberAdderHelper == 1) {
                        // If deleting the first form, just hide the work_form and set hasWorkExperience to 'no'
                        console.log("there is only 1 form so the radio button should become closed");
                        workForm.style.display = 'none';
                        addButton.style.display = 'none';
                        yesRadio.checked = false;
                        document.getElementById('noRadio').checked = true;
                    } else {
                        form.remove();
                        totalformNumberAdderHelper--;
                        console.log(`after deleting, there are this number of forms: ${totalFormsField.value}`);
                    }
                }

                let deleteButtons = document.querySelectorAll("[id^='delete-work-form-']");
                deleteButtons.forEach(button => {
                    button.addEventListener('click', function() {
                        let formNum = parseInt(button.id.split('-').pop());
                        console.log("work form number " + formNum + " is being deleted");
                        deleteForm(workForm.children[formNum], formNum);
                    });
                });
            });
        </script>
        
        <p id="work_experience_question">Do you have relevant work experience?</p>
        <div id="work_experience_options">
            <label>
                <input type="radio" name="hasWorkExperience" id="yesRadio" value="yes" onclick="toggleWorkExperienceForm()"> Yes
            </label>
            <label>
                <input type="radio" name="hasWorkExperience" id="noRadio" value="no" onclick="toggleWorkExperienceForm()" checked> No
            </label>
        </div>

        <br> <br> <br> 

        {% csrf_token %}
        {{ work_experience_formset.management_form }}
        <div id="work_form" style="display: none;">
            <div id="work_experiences_container-0">
                <table>
                    <tbody>
                        <tr>
                            <th>Company Name</th>
                            <th>Job Title</th>
                        </tr>
                        {% for work_form in work_experience_formset %}
                            <tr class="form-row">
                                <td>{{ work_form.company_name }}</td>
                                <td>{{ work_form.job_title }}</td>
                            </tr>
                            <tr class="form-row">
                                <td>Start Date</td>
                                <td>End Date</td>
                            </tr>
                            <tr class="form-row">
                                <td>{{ work_form.start_date }}</td>
                                <td>{{ work_form.end_date }}</td>
                            </tr>
                            <tr class="form-row">
                                <td>City</td>
                                <td>State</td>
                            </tr>
                            <tr class="form-row">
                                <td>{{ work_form.city }}</td>
                                <td>{{ work_form.state }}</td>
                            </tr>
                            <tr class="form-row">
                                <td colspan="2">Description</td>
                            </tr>
                            <tr class="form-row">
                                <td colspan="2">{{ work_form.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button id="delete-work-form-0" type="button"">Delete Work Experience</button>
            </div>
        </div>
        <button id="add-work-form" type="button" style="display: none;">Add Another Work Experience</button> 

    </div>

    <!-- project form -->
    <div> 
        <!-- projects form -->
        <h3>Projects</h3>

        <script>
            function toggleProjectExperienceForm() {
                    var projectForm = document.getElementById('projects_form');
                    var yesRadioProject = document.getElementById('yesProjectRadio');
                    var addProjectFormButton = document.getElementById('add-project-form');
            
                    projectForm.style.display = yesRadioProject.checked ? 'block' : 'none';
                    addProjectFormButton.style.display = yesRadioProject.checked ? 'block' : 'none';
                }
        </script>

        <p id="project_experience_question">Do you have project experience?</p>
        <div id="project_experience_options">
            <label>
                <input type="radio" name="hasProjectExperience" id="yesProjectRadio" value="yes" onclick="toggleProjectExperienceForm()"> Yes
            </label>
            <label>
                <input type="radio" name="hasProjectExperience" id="noProjectRadio" value="no" onclick="toggleProjectExperienceForm()" checked> No
            </label>
        </div>

        {% csrf_token %}
        {{ projects_formset.management_form }}
        <div id="projects_form" style="display: none;">
            <div id="projects_container-0">
                <table>
                    <tbody>
                        {% for project_form in projects_formset %}
                            <tr>
                                <th>Project Name</th>
                            </tr>
                            <td>{{ project_form.project_name.errors }} {{ project_form.project_name }}</td>

                            <tr>
                                <th>Project Skills</th>
                            </tr>
                            <td>{{ project_form.project_skills.errors }} {{ project_form.project_skills }}</td>

                            <tr>
                                <th>Description</th>
                            </tr>
                            <td>{{ project_form.description.errors }} {{ project_form.description }}</td>

                        {% endfor %}
                    </tbody>
                </table>
                <button id="delete-project-form-0" type="button">Delete Project</button> <br>
            </div>
        </div>
        <button id="add-project-form" type="button" style="display: none;">Add Another Project</button> 

        <script>
            window.addEventListener('load', function() {
                let project_projectForm = document.querySelector("#projects_form");
                let project_addButton = document.querySelector("#add-project-form");
                let project_totalFormsField = document.querySelector("input[name='projects-TOTAL_FORMS']");
                let project_formNum = project_projectForm.children.length; 
                project_totalformNumberAdderHelper = project_formNum;
                
                project_addButton.addEventListener('click', addProjectForm);
        
                function addProjectForm(e) {
                    e.preventDefault();
        
                    console.log("Add button clicked!");
        
        
                    let project_newForm = `
                        <div id="projects_container-${project_totalFormsField.value}">
                            <table>
                                <tbody>
                                    <tr>
                                        <th>Project Name</th>
                                    </tr>
                                    <tr class="form-row">
                                        <td><input type="text" name="projects-${project_totalFormsField.value}-project_name"></td>
                                    </tr>
                                    <tr>
                                        <th>Project Skills</th>
                                    </tr>
                                    <tr class="form-row">
                                        <td><input type="text" name="projects-${project_totalFormsField.value}-project_skills"></td>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                    </tr>
                                    <tr class="form-row">
                                        <td><textarea name="projects-${project_totalFormsField.value}-description"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>
                            <button id="delete-project-form-${project_totalFormsField.value}" type="button">Delete Project</button>
                        </div>
                    `;
        
                    let project_container = document.createElement('div');
                    project_container.innerHTML = project_newForm;
        
                    project_projectForm.appendChild(project_container);
        
                    // Add delete button for the newly added form
                    let project_deleteButton = document.querySelector(`#delete-project-form-${project_totalFormsField.value}`);
        
                    project_deleteButton.addEventListener('click', function() {
                        project_deleteForm(project_container, project_formNum);
                    });
                    project_container.appendChild(project_deleteButton);
        
                    project_formNum++;
                    project_totalFormsField.value++;
                    project_totalformNumberAdderHelper++;
                    console.log(`Form added. project_totalformNumberAdderHelper: ${project_totalformNumberAdderHelper}`);
                    console.log(`Form added. projects-TOTAL_FORMS: ${project_totalFormsField.value}`);
                }
        
        
                function project_deleteForm(form, formNum) {
        
                    if (project_totalformNumberAdderHelper == 1) {
                        // If deleting the first form, just hide the project_form and set hasProjectExperience to 'no'
                        console.log("there is only 1 form so the radio button should become closed");
                        yesProjectRadio.checked = false;
                        noProjectRadio.checked = true;
                        project_projectForm.style.display = 'none';
                        project_addButton.style.display = 'none';
                        document.getElementById('noRadio').checked = true;
                    } 
                    else {
                        form.remove();
                        project_totalformNumberAdderHelper--;
                        console.log(`after deleting, project_totalformNumberAdderHelper is : ${project_totalformNumberAdderHelper}`);
                        console.log(`after deleting, projects-TOTAL_FORMS is : ${project_totalFormsField.value}`);
                    }
                }
        
                let project_deleteButtons = document.querySelectorAll("[id^='delete-project-form-']");
                project_deleteButtons.forEach(button => {
                    button.addEventListener('click', function() {
                        let project_formNum = parseInt(button.id.split('-').pop());
                        console.log("project form number " + project_formNum + " is being deleted");
                        project_deleteForm(project_projectForm.children[project_formNum], project_formNum);
                    });
                });

                document.getElementById("add-project-form").addEventListener('click', function() {
                let invalidInput = project_projectForm.querySelector('input:invalid, textarea:invalid');
                if (invalidInput) {
                    invalidInput.style.borderColor = 'red';
                    alert("Please fill out all fields in the project. The missing field has been highlighted in red.");
                    invalidInput.focus();
                    // Scroll to the position of the invalid input field
                    invalidInput.scrollIntoView({ behavior: 'smooth', block: 'center' });
                }
                });

            });
        </script>
        
        
       
    </div>  
    
<script>
        document.addEventListener('DOMContentLoaded', function () {
            var submitButton = document.querySelector('button[type="submit"]');
            submitButton.addEventListener('click', function (event) {
                // Prevent form submission
                event.preventDefault();

                
                var inputs = document.querySelectorAll('#dataForm input, #dataForm textarea');
                for (var i = 0; i < inputs.length; i++) {
                    if (inputs[i].value.trim() === '') {
                        alert('Please fill in all fields before submitting the form. Missing field: ' + inputs[i].getAttribute('name'));
                        inputs[i].style.borderColor = 'red';
                        scrollToElement(inputs[i]);
                        return;
                    }
                }

                // Check if work experience form is displayed
                var workForm = document.getElementById('work_form');
                if (workForm.style.display !== 'none') {
                    // Validate each field in the work experience form
                    var workForms = document.getElementsByClassName('form-row');
                    for (var i = 0; i < workForms.length; i++) {
                        var inputs = workForms[i].getElementsByTagName('input');
                        var textareas = workForms[i].getElementsByTagName('textarea');

                        // Validate input fields
                        for (var j = 0; j < inputs.length; j++) {
                            if (inputs[j].value.trim() === '') {
                                inputs[j].style.borderColor = 'red';
                                alert('Please fill in the "' + inputs[j].getAttribute('name') + '" field in the work experience form.');
                                scrollToElement(inputs[j]);
                                return;
                            } else {
                                inputs[j].style.borderColor = ''; // Reset border color
                            }
                        }

                        // Validate textarea fields
                        for (var k = 0; k < textareas.length; k++) {
                            if (textareas[k].value.trim() === '') {
                                textareas[k].style.borderColor = 'red';
                                alert('Please fill in the "' + textareas[k].getAttribute('name') + '" field in the work experience form.');
                                scrollToElement(textareas[k]);
                                return;
                            } else {
                                textareas[k].style.borderColor = ''; // Reset border color
                            }
                        }
                    }
                }

                var projectForm = document.getElementById('projects_form');
                if (projectForm.style.display !== 'none') {
                    // Validate each field in the projects form
                    var projectForms = document.querySelectorAll('#projects_form input, #projects_form textarea');
                    for (var i = 0; i < projectForms.length; i++) {
                        if (projectForms[i].value.trim() === '') {
                            projectForms[i].style.borderColor = 'red';
                            alert('Please fill in the "' + projectForms[i].getAttribute('name') + '" field in the projects form.');
                            scrollToElement(projectForms[i]);
                            return;
                        } else {
                            projectForms[i].style.borderColor = ''; // Reset border color
                        }
                    }
                }

                // If validation passes, submit the form
                document.querySelector('form').submit();
            });

            function scrollToElement(element) {
                // Scroll to the element
                element.scrollIntoView({ behavior: 'smooth', block: 'center' });
            }
        });
</script>


    <button type="submit">Submit</button>
    <br>  <br>  <br>  <br> 
</form>

    <br>  <br>  <br>  <br>  <br>  
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

   

{% endblock %}